@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset styles */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Body styles */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #f8f8f8;
  color: #333;
}

