@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset styles */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Body styles */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #f8f8f8;
  color: #333;
}
.transition-colors-mode {
  @apply transition-colors duration-200;
}
::-webkit-scrollbar
{
	width: 7px;
	background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #808080;
}